.container{
    max-width: 1200px;
    margin: auto;
    padding: auto;
}

.bai1{
    border: 1px solid ;
    background-color: greenyellow   ;
    padding: 20px;
    margin-bottom: 30px;
}
.bai1 h1{
    color: blue;
}


.bai2{
    padding: 20px;
    background-color: bisque;
}

.bai3{
    background-color: aqua;
    color: blue;

}

.bai4{
    background-color: bisque;
    color: goldenrod;

}


.bai4 button,input{
    display: block;
    margin: 10px;
}
.bai5{
    background-color: blueviolet;
    color: yellowgreen;
}
